<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <!-- AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
  <nav class="navbar d-flex justify-content-center p-2" style="background-color: #ADDCC9;">
    <a class="navbar-brand" href="#"><img src="Menu_icon_2_icon-icons.com_71856.png"
        style="width: 50px; height: 50px;" alt="" /></a>
  </nav>
  <section class="d-flex justify-content-center p-4">
    <a href="#"><img src="brainlogo.png" style="width: 100px; height: 100px;" alt="" /></a>
  </section>
  <!-- MENU OPZIONI -->
  <div class="form-group row justify-content-center mx-1" id="optionSelection">
    <div class="p-2">
      <label for="questionsNbr" class="control-label">Number of Trivia questions</label>
      <select class="form-control" name="questionsNbr" id="questionsNbr">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </div>
    <div class="p-2">
      <label for="category" class="control-label">Select Category</label>
      <select class="form-control" name="category" id="category">
        <option value="">Any Category</option>
      </select>
    </div>
    <div class="p-2">
      <label for="difficulty" class="control-label">Select Difficulty</label>
      <select class="form-control" name="difficulty" id="difficulty">
        <option value="">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <div class="p-2">
      <label for="questionsType" class="control-label">Select Type</label>
      <select class="form-control" name="questionsType" id="questionsType">
        <option value="">Any Type</option>
        <option value="multiple">Multiple Choice</option>
        <option value="boolean">True/False</option>
      </select>
    </div>
    <button type="button" class="btn btn-danger h-50 mb-2 align-self-end px-5" id="urlComposer">Get STARTED!</button>
  </div>
  <p id="pTest"></p>
  <!-- RADIA con le risposte possibili -->
  <div class="container d-flex-column justify-content-center align-items-center p-4">
    <div class="card-body text-center">
      <h3 id="question" class="card-title text-center"></h3>
      <div id="radiaContainer">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button id="skip" class="btn btn-light p-4"><img src="next_arrow_14440.png" style="width: 30px; height: 30px;"
        alt="">Skip Question</button>
    <button id="confirm" class="btn btn-light p-4"><img src="iconfinder-send-4341325_120524.png"
        style="width: 30px; height: 30px;" alt="">Confirm Answer</button>
  </div>
  <div class="container" id="recapList"></div>
  <!-- FOOTER -->
  <footer class="d-block font-small" style="background-color: #ADDCC9;">
    <div class="container justify-content-center">
      <div class="mb-5 d-flex justify-content-center">
        <a class="p-4">
          <img src="FB_icon-icons.com_65484.png" style="width: 30px; height: 30px;" alt="">
        </a>
        <a class="p-4">
          <img src="TWITTER_icon-icons.com_65486.png" style="width: 30px; height: 30px;" alt="">
        </a>
        <a class="p-4">
          <img src="google_icon-icons.com_65494 (1).png" style="width: 30px; height: 30px;" alt="">
        </a>
      </div>
      <div class="d-block text-center" style="background-color: white; width: 100%;">
        © 2020 Copyright
      </div>
  </footer>
  <!-- JS -->
  <script type="text/javascript" src="./apihome.js"></script>
</body>

</html>